[defaults]
inventory          = inventory.ini
private_key_file   = ~/01_P/DevOps/capstone-ssh-key/capstone-ssh-key
remote_user        = root
host_key_checking  = False
stdout_callback    = ansible.builtin.default
result_format      = yaml

[ssh_connection]
pipelining = True